#### Date - 5/11/22

In [1]:
for i in "hello":
    print(i)

h
e
l
l
o

In [1]:
for i in "bhavesh":
    print(i)

b
h
a
v
e
s
h

In [2]:
for i in [3,4,5,6]:
    print(i)

3
4
5
6

In [3]:
for i in [3,4,5,6]:
    print(i**2)

9
16
25
36

In [4]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [5]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(f"2 x {i} = {i*2}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [7]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print("2 x ",i, "=",i*2)

2 x  1 = 2
2 x  2 = 4
2 x  3 = 6
2 x  4 = 8
2 x  5 = 10
2 x  6 = 12
2 x  7 = 14
2 x  8 = 16
2 x  9 = 18
2 x  10 = 20

In [17]:
m = int(input())
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(m,"x",i,"=",i*m)

3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [21]:
a=int(input())
for i in range(1,11):
    print(a,"x",i,"=",i*a)

2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [2]:
## self
a=int(input())
for i in range(1,11):
    print(f"{a}x{i}={i*a}")

2
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20

In [20]:
print(list(range(5)))

for i in range(5):
    print("i is = ",i)

[0, 1, 2, 3, 4]
i is =  0
i is =  1
i is =  2
i is =  3
i is =  4

In [3]:
### self

print(list(range(5)))
for i in range(5):
    print("2 x",i,"=",2*i)

[0, 1, 2, 3, 4]
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8

In [8]:
### self

for i in range(5):
    print("i is =",i,end="!!! \n")

i is = 0!!!
i is = 1!!!
i is = 2!!!
i is = 3!!!
i is = 4!!!

In [4]:
## self

for i in range(5):
    print(f'i is = {i} !!! \n')

i is = 0 !!!

i is = 1 !!!

i is = 2 !!!

i is = 3 !!!

i is = 4 !!!

In [3]:
for i in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [ ]:
input("name= ") # *5 NOT EASY

In [1]:
range(3)

range(0, 3)

In [7]:
for x in range(3):
    print("name= ",x)
    input()

name=  0
x
name=  1
y
name=  2
z

In [6]:
for variable_name in "qwert":
    print(variable_name)

q
w
e
r
t

## Date - 5/11/22

In [22]:
for var in "qwert":
    print(var)

q
w
e
r
t

In [23]:
for var in ["qwert","abc","xyz"]:
    print(var)

qwert
abc
xyz

In [25]:
for var in ["qwert","abc","xyz"]:
    print(var)
    for char in var:
        printnt(char)

qwert
q
w
e
r
t
abc
a
b
c
xyz
x
y
z

In [12]:
### Self
for hgj in ['adf','jhg','hgf']:
    print(hgj)
    for char in hgj:
        print(char)

adf
a
d
f
jhg
j
h
g
hgf
h
g
f

In [17]:
#### self

for ght in ["hgj","tre","ytr"]:
    print(ght)
    for hgf in ght:
        print(hgf)

hgj
h
g
j
tre
t
r
e
ytr
y
t
r

In [26]:
p=[]  # sorting words in list
for var in["qwert","cbast","oxmynz"]:
    print(var)
    p.append(list(var))
    
print("p list =",p) # out of the loop
print()

for c in p:
    print(c,"=>",sorted(c))

qwert
cbast
oxmynz
p list = [['q', 'w', 'e', 'r', 't'], ['c', 'b', 'a', 's', 't'], ['o', 'x', 'm', 'y', 'n', 'z']]

['q', 'w', 'e', 'r', 't'] => ['e', 'q', 'r', 't', 'w']
['c', 'b', 'a', 's', 't'] => ['a', 'b', 'c', 's', 't']
['o', 'x', 'm', 'y', 'n', 'z'] => ['m', 'n', 'o', 'x', 'y', 'z']

In [28]:
for i in range(1,10):
    print("O "*i)

O
O O
O O O
O O O O
O O O O O
O O O O O O
O O O O O O O
O O O O O O O O
O O O O O O O O O

In [31]:
for i in range(1,10):
    print(list(range(i)))

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [33]:
for i in range(10,0,-1):
    print("O "*i)

O O O O O O O O O O
O O O O O O O O O
O O O O O O O O
O O O O O O O
O O O O O O
O O O O O
O O O O
O O O
O O
O

In [34]:
for i in range(1,10):
    print("O "*i)
    
for i in range(10,0,-1):
    print("O "*i)

O
O O
O O O
O O O O
O O O O O
O O O O O O
O O O O O O O
O O O O O O O O
O O O O O O O O O
O O O O O O O O O O
O O O O O O O O O
O O O O O O O O
O O O O O O O
O O O O O O
O O O O O
O O O O
O O O
O O
O

In [35]:
j=5
for i in range(1,6):
    print(j*" ","* "*i)
    j-=1       # j=j-1
for i in range(6,0,-1):
    print(j*" ","* "*i)
    j+=1      # j=j+1

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [36]:
j=5
for i in range (6,0,-1):
    print(j*" ","* " *i)
    j +=1 # means j= j+1
for i in range (0,7):
    print(j* " ", "* " *i)
    j -=1 # means j= j -1

      * * * * * *
       * * * * *
        * * * *
         * * *
          * *
           *

           *
          * *
         * * *
        * * * *
       * * * * *
      * * * * * *

### Date - 6/11/22

### While Loop

In [1]:
while 5>3:   # false to break
    print("hello")
    break # or u use break

hello

In [2]:
a=1
while a<5:
    print("hello a is =",a)
    a+=1  # a=a+1

hello a is = 1
hello a is = 2
hello a is = 3
hello a is = 4

In [3]:
a=1
while True:
    print("hello a is =",a)
    a+=1
    if a>4:
        print("a is > 4 now it is =",a)
        break

hello a is = 1
hello a is = 2
hello a is = 3
hello a is = 4
a is > 4 now it is = 5

In [6]:
while True:
    print("hello ")
    a=input("y to break= ")
    if a=="y":
        print("Thank you")
        break

hello
y to break= n
hello
y to break= n
hello
y to break= n
hello
y to break= y
Thank you

### QUE

try all pattern print with while

### Que

* d={"name":["a","b"],"Exp":[2,3]",Age":[34,23]}
* use while
* for 3 emp
* user input
    * 3 list --- append value to it

In [1]:
name=[]
e1=input("Name of e1 ")
name.append(e1)

e2=input("Name of e2 ")
name.append(e2)

e3=input("Name of e3")
name.append(e3)

print(name)
d={"Name":name}

Name of e1 Ayush
Name of e2 Bhavesh
Name of e3Chirag
['Ayush', 'Bhavesh', 'Chirag']

In [2]:
### OJAS
name=[]
age=[]
exp=[]
c=0
    
while c<3:
        n= input("Enter employee name:" )
        name.append(n)
        m= input("‘Enter employee age: ‘")
        age.append(m)
        o= input("‘Enter employee exp: ‘")
        exp.append(o)
        c+=1
d={"Name":name,"Age":age,"exp":exp} 
d

Enter employee name:N
‘Enter employee age: ‘M
‘Enter employee exp: ‘N
Enter employee name:N
‘Enter employee age: ‘54
‘Enter employee exp: ‘6
Enter employee name:RYY
‘Enter employee age: ‘67
‘Enter employee exp: ‘6

{'Name': ['N', 'N', 'RYY'], 'Age': ['M', '54', '67'], 'exp': ['N', '6', '6']}

In [1]:
name=[]
age=[]
exp=[]
c=1
    
while c<4:
        n= input("Enter employee name:" )
        name.append(n)
        m= input("‘Enter employee age: ‘")
        age.append(m)
        o= input("‘Enter employee exp: ‘")
        exp.append(o)
        c+=1
d={"Name":name,"Age":age,"exp":exp} 
d

Enter employee name:a
‘Enter employee age: ‘43
‘Enter employee exp: ‘2
Enter employee name:b
‘Enter employee age: ‘41
‘Enter employee exp: ‘3
Enter employee name:r
‘Enter employee age: ‘32
‘Enter employee exp: ‘4

{'Name': ['a', 'b', 'r'], 'Age': ['43', '41', '32'], 'exp': ['2', '3', '4']}

#### Pass and Continue

In [5]:
for i in range(10):
    pass

In [ ]:
for i in "sas":
    if i=="s"

In [10]:
for i in range(10):
    print("hello",i)
    if i>4:  # True
        break

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5

In [11]:
for i in range(5):
    pass
# when u dont know what to give
#in the body for now

In [12]:
if 5>4:
    pass

In [13]:
# continue
for i in "qwert":
    if i=="e":
        continue
    print(i)

q
w
r
t

In [14]:
# continue
for i in "qwert":
    if i=="e":
        print("\ti==e now")  #\t for tab
        continue
    print(i)

q
w
	i==e now
r
t

In [15]:
# continue
for i in "stats":
    if i=="t":
        #print("i==e now")
        continue
    print(i)

s
a
s

In [16]:
# QUE: convert statement to sound less akward
# eg WHAT !!!! ----> What

In [17]:
s="WHAT !!! ARE YOU TALKING ABOUT !!!"
s=s.lower()
s=s.capitalize()
for i in s:
    if i=="!":
        continue
    print(i,end="")

What  are you talking about