### Functions

In [1]:
def say_hello():
    print('hello')

### Call the function

In [2]:
say_hello()

hello

In [3]:
# 1st WAY
def greeting(name):  # i will pass a arg
    print("hello",name)

In [4]:
greeting()   # value is not given therefore error is coming

TypeError: greeting() missing 1 required positional argument: 'name'

In [5]:
greeting('Sam')

hello Sam

In [1]:
# 2nd WAY
def take():
    var=input("whats ur name? ")
    print("your name is ",var) #2nd Way

In [2]:
take()

whats ur name? nbv
your name is  nbv

In [7]:
take()

whats ur name? Sam
your name is  Sam

In [9]:
def abc(var):
    print("hello",var)
    
abc("sam")

hello sam

In [10]:
def abc(var):
    print("hello",var)
    
abc("sam")

abc(input("Give ur input= "))   #3rd way

hello sam
Give ur input= sammy
hello sammy

### take input, pass it in a function and multiply it with 10

In [3]:
def multiply():
    num = int(input())
    print(num*10)

In [6]:
multiply()

90
900

### date - 12/11/22

## Create a FUNCTION

In [20]:
def Table():
    while True:
        a=int(input())
        for i in range(1,11):
            print(a,"x",i,"=",i*a)
        a=input("y to break = ")
        if a=="y":
            print("Thank you")
            break

In [18]:
## SELF


def Table():
    while True:
        a=int(input())
        for i in range(1,11):
            print(a,"x",i,"=",i*a)
            
if a==Y:
    while True:
        a=int(input())
        for i in range(1,11):
            print(a,"x",i,"=",i*a)
                
if a==N:
    break
    print("Thank you")

NameError: name 'a' is not defined

In [21]:
Table()

a

ValueError: invalid literal for int() with base 10: 'a'

In [22]:
Table()

3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
y to break = y
Thank you

In [23]:
Table()

4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
y to break = 5
5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
y to break = 8

ValueError: invalid literal for int() with base 10: ''

In [24]:
8

8

In [25]:
Table()

5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
y to break = 9

ValueError: invalid literal for int() with base 10: ''

In [26]:
Table()

7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
y to break =
6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
y to break = 7

ValueError: invalid literal for int() with base 10: ''

In [27]:
7

7

In [28]:
Table()

8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
y to break =
7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
y to break =
3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
y to break = y
Thank you

In [ ]:
# IRIS
def chk():
    # Take any number and print table of it -- in 2X2 format 1 to 10
    # Also check Even or ODD
    answer='y'
    while (answer=='y'):
        num=(int(input("Give your input number= ")))
        if (num%2!=0):
            print ("This is an ODD number")
        else:
            print ("This is an EVEN number")
        for i in range(10):
            i+=1
            print(num,"X",i,"=",i*num)
        answer=(input("Do you want to continue? y/n"))
        if answer =="n":
            print("Thank You --> EXIT!")
            break
chk()
#kamini
def print_table(var):
    for i in range(1, 11):
        check = 'EVEN' if var*i % 2 == 0 else 'ODD'
        print(var, 'x', i, '=', var*i, '-->', check)
        
while True:
    print_table(int(input("enter any number")))
    exit = input("DO you want to exit? (Y/N) ")
    if exit == 'Y' or exit == 'y':
        break

### Take 2 number as input and add them, print them by passing it to a fun

In [32]:
def add(num1,num2):
    print("Sum of the two no's is: ",num1+num2)
    
a1=int(input("Please enter a first no."))
a2=int(input("Please enter a second no."))
add(a1,a2)

Please enter a first no.34
Please enter a second no.43
Sum of the two no's is:  77

In [34]:
"hello"+" sam"

'hello sam'

In [1]:
def concatinate_str(str1,str2):
    print("Concatination of 2 str is: ",str1+" "+str2)
    
a1=input("Please enter a first str: ")
a2=input("Please enter a second str: ")
concatinate_str(a1,a2)

Please enter a first str: hello
Please enter a second str: sam
Concatination of 2 str is:  hello sam

In [2]:
a=9
type(a)

int

In [3]:
type(a)==int

True

In [4]:
a="9"
type(a)
type(a)==int

False

In [5]:
a="9"
type(a)
type(a)==str

True

In [6]:
def f(a,b):
    if type(a)==int and type(b)==int:
        print(a+b)
    else:
        print(str(a)+" "+str(b))

In [7]:
f(3,4)

7

In [8]:
f("hello","ji")

hello ji

In [9]:
f(5,"ji")

5 ji

In [10]:
choose =input("1 for number , 2 for str")
if choose=="1":
    a=int(input("a= "))
    b=int(input("b= "))
else:
    a=input("a= ")
    b=input("b= ")
f(a,b)

1 for number , 2 for str1
a= 34
b= 67
101

In [3]:
### Return

def na(a,b):
    print(a+b)
    
v=na(3,2)  # NONE
print("na has= ",v, "type of na is = ",type(v))

5
na has=  None type of na is =  <class 'NoneType'>

In [7]:
def name(a,b,c,d):
    return a+b+c+d

In [13]:
name("abc_","qwe_","asd_","sdf_")

'abc_qwe_asd_sdf_'

In [14]:
name(1,2,3,4)

10

In [15]:
var=name(1,2,3,4)

In [16]:
var

10

### After return cursor

In [18]:
def x():
    print("hello")
    return "back"
    print("after return will not be there") ## whatever u put after return will not be executed

In [19]:
x()

hello

'back'

In [20]:
def n(a,b,c=0,d=0):
    return a+b+c+d

In [21]:
n(2,3)

5

In [22]:
n(2,3,4)

9

In [23]:
n(2,3,6,7)

18

In [24]:
n(*[2,3,4,5])  # a=2,b=3,c=4,d=5

14

In [25]:
def fun(a,b=0,c=0):
    print(a,b,c)

In [26]:
fun([3,4,5])

[3, 4, 5] 0 0

In [27]:
fun(*[3,4,5])

3 4 5

#### Function with  *Arg and  **Kwarg

In [28]:
def p(*arg):
    print("type",type(arg))
    print(arg)

In [29]:
p(3,4,5,6)

type <class 'tuple'>
(3, 4, 5, 6)

In [4]:
def pf(*arg):
    print(arg)
    num=0
    for i in arg:
         num=num+i
         print("hello ",i,"-->",num)
            
        ## print("hello ",i,"-->",num)

In [5]:
num=0
for i in [3,4,5,6]:
    num=num+i
    print("hello num",i,"-->num=",num)

hello num 3 -->num= 3
hello num 4 -->num= 7
hello num 5 -->num= 12
hello num 6 -->num= 18

In [32]:
pf(5,6)

(5, 6)
hello  5 --> 5
hello  6 --> 11

In [33]:
pf(3,3,4,5,6)

(3, 3, 4, 5, 6)
hello  3 --> 3
hello  3 --> 6
hello  4 --> 10
hello  5 --> 15
hello  6 --> 21

In [34]:
def f(a,b,*arg):
    print(a,b,arg)

In [35]:
f(3,4,5,6)

3 4 (5, 6)

In [36]:
def ff(a,b,*arg,c):
    print(a,b,arg)   ## dont write c after *arg

https://drive.google.com/drive/folders/1yEcM48KEYRqDNEbolYEu18PCffzRjzrc?usp=share_link

In [37]:
ff(2,3,5,6,7,8,9,0)

TypeError: ff() missing 1 required keyword-only argument: 'c'

### kwarg

In [1]:
def p(**kwarg):
    print(kwarg)

In [2]:
p(p=12,t=9)

{'p': 12, 't': 9}

In [3]:
p(p=[300,12],t=9)

{'p': [300, 12], 't': 9}

In [4]:
dict(name="sam")

{'name': 'sam'}

In [5]:
def p(*arg,**kwarg):
    print(arg,kwarg)

In [6]:
p(2,3,4,l=4,k=9)

(2, 3, 4) {'l': 4, 'k': 9}

In [7]:
def p(a,b,*arg,**kwarg):
    print(a,b,"---",arg,kwarg)

In [8]:
p(3,4,5,6,7,8,9,k=9,l="4")

3 4 --- (5, 6, 7, 8, 9) {'k': 9, 'l': '4'}

In [9]:
print("hello",(3,4,5))

hello (3, 4, 5)