In [1]:
def x(a):return a+2
x(3)

5

In [2]:
x=lambda a:a+2      # def x(a):return a+2

In [3]:
x(2)

4

In [1]:
def add(x,y):return x+y

In [2]:
add(3,5)

8

In [3]:
add=lambda x,y:x+y

In [4]:
add(3,5)

8

### QUE

Eco Fun write a lambda for this

In [9]:
def echo(word):
    print(word*3)

In [10]:
echo("hi")

hihihi

In [11]:
def echo(word):
    print(f"{word}...{word}.......{word}..!!!")

In [12]:
echo("hi")

hi...hi.......hi..!!!

In [5]:
echo = lambda word:word*3

In [7]:
echo("hi")

'hihihi'

In [5]:
y = lambda word:print(f"{word}.....{word}..........{word}..!!!")

In [6]:
y("hello")

hello.....hello..........hello..!!!

### 2 Variables

In [7]:
f=lambda x,y:x+y  # def f(x,y):return x+y

In [8]:
f(3,4)

7

In [9]:
pp=f(4,3)
type(pp)

int

In [2]:
a=print("hello") # print return type is NONE

hello

In [3]:
type(a)

NoneType

In [4]:
i = lambda :"hello"
i()

'hello'

In [5]:
z = lambda :print("name is SAM")  # def z():return print("name is sam")

In [6]:
z()

name is SAM

In [7]:
abc=z()
type(abc)

name is SAM

NoneType

In [8]:
type(z)

function

### Sq of the value

In [12]:
l=lambda x:x**2
l(2)

4

#### Check even n odd

In [13]:
chk=lambda x:x%2==0   # checking the even number

In [14]:
chk(6)

True

In [15]:
chk(3)

False

In [16]:
if chk(6):
    print("even")
else:
    print("odd")

even

In [17]:
"hello" if 10>50 else "hi"

'hi'

In [18]:
c="hello" if 10>50 else "hi"
c

'hi'

In [19]:
x=int(input("Number= "))
"even" if x%2==0 else "odd"

Number= 45

'odd'

In [20]:
var=lambda a,b:a  if a>b else b # checking for greater number

In [21]:
var(3,6)

6

In [22]:
print("the bigger value is ",var(5,7))

the bigger value is  7

In [23]:
chk=lambda x:"even" if x%2==0 else "odd"  # checking for even and odd

In [24]:
chk(5)

'odd'

In [25]:
chk(4)

'even'

In [26]:
# % modulo

In [27]:
x=lambda x:"even"  if x%2==0 else "odd"  # lambda goes into for loop

for i in range(1,5):
    print(x(i))   #x(1,2,3,4)

odd
even
odd
even

In [28]:
#  rough raw code  # ADVANCE
s=lambda x: "abc"  if x<10 else "xyz" if x<20 else "qwe" # if x<30 else "pqr"
s(100)

'qwe'

### Default Values

In [29]:
s=lambda x=1: "abc" if x<10 else "xyz"
s()

'abc'

In [30]:
s=lambda x=1: "abc" if x<10 else "xyz"
s(100)

'xyz'

#### No elif allowed
#### end with else n a value

### Exercise

### Que : Age - input
* if age minor or teen or adult or mid age or old
* minor<13  teen<19  adult<40  mid age<60  60<old

In [35]:
ageChk=lambda x: "minor" if x<13 else "teen" if x<20 else "adult" if x<40 else "mid age" if x<60 else "Old"
ageChk(100)

'Old'

In [10]:
var5 = lambda a: "minor" if a<13 else "teen" if a>13 and a<19 else "Mid" if a>19 and a<40 else "Adult" if a>40 and a<60 else "Old"
var5(15)

'teen'

In [11]:
x=lambda x:"minor" if x<13 else "teen" if x<20 else "adult" if x<40 else "mid age" if x<60 else "OLd"

x(70)

'OLd'

### Mapping

map(func,*iterables)

In [36]:
def f(x):
    return x**2

In [37]:
f

In [38]:
f(3)

9

In [39]:
for i in [2,3,4]:
    print(f(i))

4
9
16

In [40]:
map(f,[2,3,4])   #map(func, *iterables) --> map object

In [41]:
list(map(f,[2,3,4]))

[4, 9, 16]

In [42]:
var=list(map(f,[2,3,4]))

In [43]:
var

[4, 9, 16]

In [44]:
list(map(f,[2,3,4]))

[4, 9, 16]

In [47]:
# above is same as below
def f(x)-> "sq of value":  # function
    return x**2

lst=[]
for i in [2,3,4]:
    lst.append(f(i))
print(lst)

[4, 9, 16]

* we create a function
* we put in a for loop
* append value to list
* we print

### Mapping with Lambda

In [48]:
# we create lamda for fun
# we give list
# we use map for the FOR loop
# put in the list fun just like appending

In [ ]:
list()

In [12]:
list(map(lambda x:x**2,[4,5,6,7]))

[16, 25, 36, 49]

### Filters

* filter(function or None,iterable)

In [1]:
list(filter(lambda x:x>10,[3,4,5,6,7,11,12]))

[11, 12]

In [2]:
list(filter(None,[3,4,5,6,7,11,12]))

[3, 4, 5, 6, 7, 11, 12]

### Take the list [2,3,4,5,6,7,8,9,10,11,12]

In [3]:
l=[2,3,4,5,6,7,8,9,10,11,12]  # list(range(2,13))
def filt_sqr(x):
    even_l=[]
    for i in x:
        if i%2==0:
            even_l.append(i**2)
    return even_l
filt_sqr(l)

[4, 16, 36, 64, 100, 144]

### Filter Map and Lambda

In [4]:
list(filter(lambda x:x%2==0,[2,3,4,5,6,7,8,9,10,11,12]))

[2, 4, 6, 8, 10, 12]

In [5]:
list(map(lambda x:x**2,filter(lambda x:x%2==0,[2,3,4,5,6,7,8,9,10,11,12])))

[4, 16, 36, 64, 100, 144]